[MASTER]
jobs=1
ignored-modules=langchain_databricks

[MESSAGES CONTROL]
disable=
    C0114,
    W0613,
    W0223

[FORMAT]
max-line-length=120
indent-string='    '

[DESIGN]
max-args=8
max-attributes=10
min-public-methods=1
